select#s1 ,
select#s2 ,
select#s3 {
	padding: 8px 16px;
    padding-left: 40px;
     margin-top: 15px; 
    /* margin-bottom: 40px; */
    margin-left: 45px;
    margin-right: 30px;
    width: 260px;
    display: block;
    border-radius: 5px;
    border-color: #737373;
    /* text-align: center; */
	float: left;
}

div#selections-div {
	width:100%;
	height:150px;
}

div#inner-selections-div {
	width: 80%;
    height: 80%;
    margin: auto;
    background-color: #ccc;
    margin-top: 50px;
    border-radius: 7px;
}

input#ErrorBar {
	text-align: center;
	margin: 2px auto 3px;
	color: red;
	min-width: 700px;
	font-size: medium;
	background-color: #ccc;
	border-radius: 5px;
	border: 1px solid #ff4d4d;
	display: none;
	/* float: left; */
}

button#b1 {
	display:block;
	padding:8px 60px;
	margin:15px auto 4px;
}

div#uncorrected {
	display: block;
	/* justify-content: space-around; */
	margin-top: 50px;
	/* border: 5px solid black; */
	background-color: #ccc;
	margin-left: 50px;
	float: left;
	padding: 0;
	height: 320px;
	margin-bottom: 10px;
	width: 450px;
	border-radius: 7px;
	overflow: auto;
}

div#corrected {
	display: block;
	margin-top: 50px;
	/* justify-content: space-around; */
	/* border: 5px solid black; */
	background-color: #ccc;
	margin-left: 30px;
	float: left;
	padding: 0;
	height: 320px;
	width: 450px;
	border-radius: 7px;
	overflow: auto;
}

div#corrected-uncorrected-outer {
	width: 100%;
	height: 420px;
}
div#corrected-uncorrected-inner {
	/* width: 100%; */
	height: 420px;
	margin: auto;
	width: 1050px;
}

.transparent {
	background-color: transparent;
}

div#uncorrected input[type=text],
div#corrected input[type=text] {
	color:#404040;
	border:none;
	font-size:large;
	font-weight:bold;
	margin:10px auto;
	display: block;
	height:30px;
	text-align: center;
}
div#uncorrected a:link {
	background-color:#666;
	color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 155px;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 5px;
}
div#uncorrected a:hover,
div#uncorrected a:visited:hover {
	background-color: black;
}
div#uncorrected a:visited
 {
	background-color: #8c8c8c;
}
div#corrected a {
	background-color:#b3b3b3;
	color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 155px;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 5px;
	pointer-events: none;
    cursor: default;
}

/*
 .styled-select { 
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; 
    height: 29px; 
    overflow: hidden; 
    width: 100px; 
   
 } 

 .styled-select select { 
    background:#5f5f5f; 
    border: none; 
    font-size: 14px; 
  
    padding: 5px;  If you add too much padding here, the options won't show in IE  
    width:200px; 
	 height:35px; 
   
 
 } 
 .rounded { 
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px; 
    border-radius: 20px; 
 } 

 .answer-scripts 
 { 
     margin-top: 40px; 
     margin-left: 20px; 
     float: left; 
     padding: 0; 
     height: 500px; 
     width: 80%; 
     border: 5px solid #4caf50; 


 } 

 .row { 
	 display: inherit; 
	 justify-content: space-around; 
	 margin-top: 50px; 
	 border: 5px solid black; 
     margin-left: 20px; 
     float: left; 
     padding: 0; 
     height: 500px; 
     width: 80%; 
 } 
 .progress-btn { 
	 position: relative; 
	 width: 150px; 
	 height: 50px; 
	 display: inline-block; 
	 background: #4caf50; 
	 font-family: "RobotoDraft","Roboto",sans-serif; 
	 color: #fff; 
	 font-weight: normal; 
	 font-size: 20px; 
	 transition: all 0.4s ease; 
	 spacing: 10px; 
	 overflow: hidden; 
	 margin-left: 10px; 
	 margin-right:0px; 
	 margin-top: 10px; 
 } 

 .progress-btn:not(.active) { 
	 cursor: pointer; 
 } 

 .progress-btn .btn { 
	 position: absolute; 
	 left: 0; 
	 top: 0; 
	 right: 0; 
	 bottom: 0; 
	 line-height: 50px; 
	 text-align: center; 
	 z-index: 10; 
	 opacity: 1; 
 } 

 .progress-btn.active .progress { 
	 width: 0%; 
	 z-index: 5; 
	 background: #95df28; 
	 opacity: 0; 
	 transition: all 0.3s ease; 

	
 } 

 .progress-btn.active .progress { 
	 opacity: 1; 
	 animation: progress-anim 10s ease 0s; 
 } 

 .progress-btn[data-progress-style='fill-bottom'].active .progress, .progress-btn[data-progress-style='fill-top'].active .progress { 
	 height: 5px; 
 } 




 .progress-btn[data-progress-style='fill-bottom'] .progress { 
	 position: absolute; 
	 left: 0; 
	 right: 0; 
	 bottom: 0; 
	 height: 0; 
 } 

 @keyframes progress-anim { 
	 0% { 
		 width: 0%; 
	 } 
	 5% { 
		 width: 0%; 
	 } 
	 10% { 
		 width: 15%; 
	 } 
	 30% { 
		 width: 40%; 
	 } 
	 50% { 
		 width: 55%; 
	 } 
	 80% { 
		 width: 100%; 
	 } 
	 95% { 
		 width: 100%; 
	 } 
	 100% { 
		 width: 0%; 
	 } 
 } 


 common styling 
 button { 
     border: none; 
     outline: none; 
 } 
 button.red-button { 
     background-color: #ff3333; 
     color: #fff; 
 } 
 button.red-button:focus, 
 button.red-button:hover { 
     background-color: #b30000; 
 } 
 button.green-button { 
     background-color: #4CAF50; 
     color: white; 
 } 
 button.green-button:focus, 
 button.green-button:hover { 
     background-color: #3e8e41; 
 } 
 button.round-button { 
     border-radius: 50%; 
 } 
 button.round-edge-button { 
     border-radius: 50px; 
 } 
 button:active { 
     transform: translateY(2px); 
     box-shadow: none; 
 } 
 button.header-button { 
     background-color: #5f5f5f; 
     color: #f1f1f1; 
 } 
 button.header-button:focus, 
 button.header-button:hover { 
     background-color: black; 
 } 

*/



